<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm px-4">

    <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">

        <img
            src="/images/cdg-logo12.png"
            alt="CDG"
            class="logo">

        

    </a>

    <div class="ms-auto d-flex align-items-center">

        <span class="text-white me-4">

            <i class="bi bi-person-circle"></i>

            {{ user.firstName }} {{ user.lastName }}

        </span>

        <button
            class="btn btn-light btn-sm"
            (click)="logout()">

            Déconnexion

        </button>

    </div>

</nav>